.NextTime{
    padding: 2%;
    margin-left:10%;
    margin-right:2%;
    margin-top:7%;
    width: 40%;
}

.NextTime:hover{
    transform: scale(1.15);
}



.prevTime{
    margin-top: 8%;
    margin-right: 20%;
    margin-left: 2%;
    padding: 2%;
    width: 30%;
}

.prevTime:hover{
    transform: scale(1.15);
}
.main{
    margin-top:-2%;
    display: flex;
}
.page{
    color: white !important;
    padding: 5% !important;
}
.info{
    padding: 6% !important;
    width: 30% !important;
    background: url('../../Images/bg1.jpeg') !important;
    color: white !important;
    font-size: 25px !important;
    margin-left: 35% !important;
}
.info:hover{
    transform: scale(1.15);
}