.prevCard{
   margin-bottom:20% !important;
   margin-left: 30% !important; 
   margin-top:13% !important;
}

.nextCard{
    margin-top: 15%;
    margin-left:30% !important;
    margin-bottom: 15% !important;
}

.prevCard:hover{
    transform: scale(1.25);
}

.nextCard:hover{
    transform: scale(1.25);
}

.container{
    border-left: solid black 1px;
    margin-top: 1% !important;
    
}

